


{% extends 'nav_bar_base.html' %}

{% block content %}
  <h1> Macro - James Aronstein</h1>




  {% set hue = 130 %}

  {% set saturation = 80 %}

  <div id="line_graph_all_boroughs" style="width: 650px; height: 650px;">
    {% include 'map.svg' %}
  </div>

  <div>
    <form action="/micro" method="GET">
      <label for="borough">Choose a borough:</label><br>
      <select name="borough" id="select_borough">
        {% for i in range (boroughs|length) %}
                {% if boroughs[i] == borough %}
                  <option value="{{boroughs[i]}}" selected>{{boroughs[i]}}</option>
                {% else %}
                  <option value="{{boroughs[i]}}">{{boroughs[i]}}</option>
                {% endif %}
            {% endfor %}
      </select>
      <input type="submit" value="Submit">
    </form> 
  </div>


{% endblock %}


