
{% extends 'nav_bar_base.html' %}

<html>
<head>
  <title><title>{{ borough }} Neighborhood Populations 2000-2010</title></title>
  <link rel="stylesheet" href="styles.css">
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>

{% block content %}
  <h1> {{ borough }} Neighborhood Populations 2000-2010</h1>

  {% set vb_left = 0 %}
  {% set vb_top = 0 %}
  {% set vb_width = 2000 %}
  {% set vb_height = 1000 %}
  {% set vb_x_mid = vb_width/2 %}
  {% set vb_y_mid = vb_height/2 %}

  {% set bar_graph_top = vb_top + 70 %}
  {% set bar_graph_bottom = vb_height - 70 %}
  {% set xax_g1_left = vb_left + 150 %}
  {% set xax_g1_right = vb_x_mid - 50 %}
  {% set xax_g1_mid = (xax_g1_right -  xax_g1_left)/2 + xax_g1_left %}

  {% set max_x_pc = max_pc_borough[borough] %}
  {% set x_sf = (xax_g1_right - xax_g1_mid) / max_pc_borough[borough] %}


  {% set bar_top = bar_graph_top %}
  {% set bar_height = bar_height_borough[borough] %}
  {% set bar_space = ( (bar_graph_bottom - bar_graph_top) - ( bar_height * borough_summary[borough]["Neighborhood Count"] ) ) / ( borough_summary[borough]["Neighborhood Count"] + 1 ) %}



  












  {% set x_axis_left = 52 %}
  {% set x_axis_y = 500 %}
  {% set x_axis_right = 548 %}

  {% set x_axis_mid = ( (x_axis_right - x_axis_left ) /2 ) + x_axis_left  %}
 
  {% set y_axis_x = 52 %}
  {% set y_axis_bottom = 500 %}
  {% set y_axis_top = 50 %}
  


  <div id="line_graph_all_boroughs"> 
    {% include 'graph.svg' %}  <!-- </width="300"  height="300"> -->

  </div>

{% endblock %}

</html>